<script>
  $(document).ready(function() {
    var pollutemap = L.map("pollutemap").setView([48.85341, 2.3488], 11);
    var dataUrl = "/data/etmbis.csv";

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(pollutemap);

    d3.csv(dataUrl, function(data) {
      data.forEach(function(d) {
        const lineData = d[
          "ID;nom;surftot(m2);anneeouv;type;zone;As;Cd;Cr;Cu;Ni;Pb;Zn;x;y"
        ].split(";");
        const description =
          "As: " +
          lineData["6"] +
          "<br>" +
          "Cd: " +
          lineData["7"] +
          "<br>" +
          "Cr: " +
          lineData["8"] +
          "<br>" +
          "Cu: " +
          lineData["9"] +
          "<br>" +
          "Ni: " +
          lineData["10"] +
          "<br>" +
          "Pb: " +
          lineData["11"] +
          "<br>" +
          "Zn: " +
          lineData["12"];
        L.marker([lineData["14"], lineData["13"]])
          .addTo(pollutemap)
          .bindPopup(description);
      });
    });
  });
</script>
<div class="container">
  <hr />
  <div class="row">
    <div class="col-md-12">
      <div id="pollutemap"></div>
      <h3>
        <span class="glyphicon glyphicon-paperclip"></span> FOTI, L., DUBS, F., GIGNOUX, J., LATA, J.C., LERCH, T.Z.,
        MATHIEU, J., NOLD, F., NUNAN, N., RAYNAUD, X., ABBADIE, L., BAROT, S.,
        (2017). TRACE ELEMENT CONCENTRATIONS ALONG A GRADIENT OF URBAN PRESSURE IN
        FOREST AND LAWN SOILS IN THE PARIS REGION (FRANCE). SCIENCE OF THE TOTAL
        ENVIRONMENT
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Reference:</h4>
      <ul>
        <li><a href="https://www.sciencedirect.com/science/article/pii/S0048969717309464" target="_blank"><span class="glyphicon glyphicon-usd"></span> Article</a></li>
        <li><a href="http://carfree.fr/index.php/2017/07/05/quand-lautomobile-pollue-aussi-les-sols/" target="_blank"><span class="glyphicon glyphicon-filter"></span> Autre Article</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Autres references sujets communs:</h4>
      <ul>
        <li>
          <a href="https://www.canada.ca/fr/services/environnement/pollution-gestion-dechets/sites-contamines.html" target="_blank"><span class="glyphicon glyphicon-tree-conifer"></span> Sites Contamin&eacutes Canada</a>
        </li>
        <li>
          <a href="https://www.google.com/url?q=https://geoscan.nrcan.gc.ca/starweb/geoscan/servlet.starweb?path%3Dgeoscan/fullf.web%26search1%3DR%3D208175&sa=D&source=hangouts&ust=1580604940494000&usg=AFQjCNFf92S4v5DsRtmUTbsD8Yfrh86-mw"
            target="_blank"><span class="glyphicon glyphicon-picture"></span> GeoScan</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- HTML to write -->
