<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center">
    <p class="text-align-center">Copyright &copy; <%=this.year %> - <a href="http://www.computhand.com" target="_blank">9383 9322 Quebec Inc. - ComputHand</a> - <a href="http://ludovicfoti.weebly.com" target="_blank">Dr Ludovic Foti</a> - All Rights Reserved</p>
    <p class="text-align-center">
      <a href="/license">Conditions d'utilisation</a>
    </p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
