<title>AdviceHood</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
<!-- end leaflet -->
<!-- D3 -->
<script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
<!-- end D3 -->
<link rel="apple-touch-icon" sizes="57x57" href="/favion/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favion/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favion/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favion/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favion/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favion/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favion/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favion/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favion/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favion/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favion/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favion/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favion/favicon-16x16.png">
<link rel="manifest" href="/favion/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favion/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1">
