<div class="container content">
  <div class="row">
    <div class="col-md-12">
      <!-- <p>Portal of Knowledge and Resources to help to get information on subject that matter!</p> -->
      <p>
        AdviceHood se veut &ecirc;tre un portail de partage d'informations et de connaissances sur diff&eacute;rents sujets
        de r&eacute;fl&eacute;xion et de sensibilisation sur notre r&eacute;alite et notre contexte social, &eacute;comomique et environnemental.
        <br>
        Via les moyens suivants:
        <ul>
          <li>Vulgarisation Scientifique et R&eacute;f&eacute;rences d'articles</li>
          <li>Affichage d'&eacute;v&egrave;nements (A venir)</li>
          <li>Formulaires et Questionnaires (A venir)</li>
          <li>Discussions (A venir)</li>
          <li>Contributions collaboratives (A venir)</li>
        </ul>
      </p>
    </div>
  </div>
</div>
