<% let homeActiveClass %>
<% let authorActiveClass %>
<% let skillsActiveClass %>
<% let contactActiveClass %>
<% if (active==='home') { %>
<% homeActiveClass='class=active' %>
<% } else if (active==='author') { %>
<% authorActiveClass='class=active' %>
<% } else if (active==='skills') { %>
<% skillsActiveClass='class=active' %>
<% } else if (active==='contact') { %>
<% contactActiveClass='class=active' %>
<% } %>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li <%=homeActiveClass%>>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Accueil</a>
      </li>
      <li class="dropdown">
        <a a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Auteur<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="https://fr.linkedin.com/in/ludovic-foti-ab7a3557" target="_blank">Dr Ludovic Foti</a></li>
          <li><a href="https://ca.linkedin.com/in/vincent-baylly-484a0070" target="_blank"> Vincent Baylly</a></li>
        </ul>
      </li>
      <li <%=contactActiveClass%>>
        <a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right dropdown">
      <a a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-education"></span> Vulgarisation<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="/contamination"><span class="glyphicon glyphicon-oil"></span> Contaminations M&eacute;taux Lourds IDF</a>
        </li>
      </ul>
      </li>
    </ul>
  </div>
</nav>
