.jumbotron {
  background: #00802b;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #00b33c;
  border-color: #00b33c;
}

.jumbotron .btn-primary:hover {
  background: #85e085;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar+.jumbotron {
  margin-top: -20px;
}

.jumbotron .logo {
  display: block;
  background: #8A0808;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .logo img {
  max-width: 100%;
}

#pollutemap {
  height: 500px;
}

a .btn-primary {
  color: #04B486;
  text-decoration: none;
}

a:hover .btn-primary {
  color: #01DF74;
  text-decoration: none;
}

.container.content{
    min-height: 350px;
}

.container a:link,
.container a:visited,
.container a:active {
  color: #00802b;
  text-decoration: none;
}

.contact-input {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 10%;
}

.contact-textarea {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 10%;
}

.btn-lg.round {
	border-radius: 24px;
  background: #b3b3b3;
  border-color: #cc3300;
}

.container a:hover {
  color: #85e085;
  text-decoration: none;
}

.page-footer {
  padding: 60px 60px;
  bottom: 0;
  width: 100%;
}

.page-footer a,
.page-footer a:link,
.page-footer a:visited,
.page-footer a:hover,
.page-footer a:active {
  font-weight: bold;
  color: #a6a6a6;
  text-decoration: none;
  cursor: pointer;
}

.page-footer a:hover {
  color: #d9d9d9;
  text-decoration: none;
}

.page-footer {
  background: #00802b;
}
