<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <%
    this.date = new Date();
    this.year = this.date.getFullYear();
  %>
  <% include ../partials/common.ejs %>
  <%- include('../partials/nav', {active:page}); %>
  <div class="jumbotron text-center">
    <div class="container">
      <%if (page==='contact'){%>
        <h2 align="center">Contactez nous!</h2>
      <%}else if (page==='license'){%>
        <h2 align="center">CONDITIONS GÉNÉRALES D'UTILISATION DU SITE</h1>
        <h3 align="center">AdviceHood</h2>
      <%}else if (page==='contamination'){%>
            <h2 align="center">Concentration en
            métaux lourd présente dans les sols d’espaces verts publiques de la
            Région Ile-de-France (Foti et al., 2017)</h1>
      <%}else{%>
        <a href="/" class="logo">
          <img src="/images/logo.png">
        </a>
        <h1>AdviceHood</h1>
      <%}%>
    </div>
  </div>
  <% let pageContent='../partials/' + page + '-content.ejs' %>
  <%- include(pageContent); %>
  <% include ../partials/footer.ejs %>
</body>

</html>
